{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-2">
            <label>Username</label>
            <input name="username" class="form-control" type="text">
        </div>
        <div class="col-md-2">
            <label>Password</label>
            <input name="password" class="form-control" type="password">
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-info">Login</button>
        </div>
    </form>
{% endblock %}