{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inventariere/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("{% static 'inventariere/images/background2.jpg' %}");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            color: white;
        }
    </style>
</head>
    <title>Proiect Inventariere Bar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<body>
    <div class= "container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        {% if request.user.is_authenticated %}
                            <button type="submit" class="btn btn-danger" style="display: inline-block;">Logout</button>
                            <a class="btn" href="{% url 'inventory:listare_produse' %}" style="display: inline-block;">Product</a>
                            <a class="btn" href="{% url 'categories:lista_categorii' %}" style="display: inline-block;">Categories</a>
                            <span style="font-weight: bold; display: inline-block;">Utilizator: {{ request.user.username }}</span>
                        {% endif %}
                        <a class="btn" href="/admin/" style="display: inline-block;">Admin</a>
                    </form>
                </nav>
            </div>
        </div>

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>
