{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <a class="btn btn-primary mb-3" href="{% url 'inventory:adaugare_produs' %}"> Adaugare produs</a>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="background-color: rgba(255, 255, 255, 0.8);">
            <thead class="thead-dark">
                <tr>
                    <th>Index</th>
                    <th>Nume_produs</th>
                    <th>Descriere</th>
                    <th>Categorie</th>
                    <th>Cantitate</th>
                    <th>Pret_unitate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in product_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price_per_unit }}</td>
                        <td>
                            <a class="btn btn-success" href="{% url 'inventory:modifica' item.id %}">Editare</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}